img {
    padding: 5px;
    width: 150px;
    height: 150px;
  }
  #productStyle {
      display: inline-block;
      padding: 90px;
      width: 370px;
      background-color: rgb(210, 255, 180);
      align-self: auto;
      margin-bottom: 10px;
      margin-right: 10px;
  }
h1 {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    }